
<h2 class="jumbotron text-center">Movies List</h2><br/>
<div class="row"> 
  <div *ngFor="let movie of moviesList" >
    <div class="col-md-4">
      <div class="polaroid">           
          <h3>{{movie.name}}</h3>
          <p>{{movie.description}}</p>
          <img class="img-responsive" src="{{movie.imageLink}}" alt="" />    
          <br>      
          <br>
          <p>rating: {{movie.rating}}</p>
          <a class="btn" (click)="onEdit(movie)">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a class="btn" (click)="onDelete(movie.$key)">
            <i class="fa fa-trash-o"></i>
            </a>
      </div>
    </div>        
  </div>
</div>
